
  <%= partial "partials/head" %>

  </head>

  <body>

    <%= partial "partials/nav" %>

    <article class="container">
      <div class="row">
        <div class="col-sm-12">

          <%= yield %>

        </div>
      </div>
    </article>


    <%= partial "partials/contact" %>

    <%= partial "partials/footer" %>

    <%= javascript_include_tag "all" %>

  </body>
</html>
