<div class="container-fluid work__bg">
  <div class="container" >
    <div class="row">
      <div class="col-sm-12">
        <h2 class="work__title">Our work</h2>
      </div>

      <div class="col-sm-12">
        <% if paginate && num_pages > 1 %>
          <p>Page <%= page_number %> of <%= num_pages %></p>

          <% if prev_page %>
            <p><%= link_to 'Previous page', prev_page %></p>
          <% end %>
        <% end %>
      </div>

      <% page_articles.each_with_index do |article, i| %>
       <div class="col-xs-12 col-sm-6">
         <% link_to article, :class => "" do %>
           <div class="">
             <h3 class=""><%= article.title %></h3>
           </div>
           <%= image_tag article.data.img, { :class => 'img-responsive' } %>
         <% end %>
       </div>
      <% end %>

      <div class="col-sm-12">
        <% if paginate %>
          <% if next_page %>
            <p><%= link_to 'Next page', next_page %></p>
          <% end %>
        <% end %>
      </div>

      <div class="col-sm-12">
        <div class="gutter--md"></div>
      </div>

    </div>
  </div>
</div>
