---
title: Styles
date: 2015-07-20
img: "http://placehold.it/600x600"
description: Water transfer printing for your tyres.
tag: Automotive
---

%h1 Styles
.gallery
  .gallery-cell
    = link_to image_tag( 'images/IMG_5886.JPG'), 'HydroMonkeyz Garage'
  .gallery-cell
    = link_to image_tag( 'images/P1300581.JPG'), 'HydroMonkeyz Garage'
  .gallery-cell
    = link_to image_tag( 'images/P1300585.JPG'), 'HydroMonkeyz Garage'
  .gallery-cell
    = link_to image_tag( 'images/P1300594.JPG'), 'HydroMonkeyz Garage'
.gutter

%a
  = link_to ('See more at Facebook'), 'https://www.facebook.com/HydroMonkeyzGarage', class: 'btn btn-primary'

.gutter
