---
title: Auto Dipping
date: 2015-07-10
img: "http://placehold.it/600x600"
description: Water transfer printing for your tyres.
tag: Automotive
---

%h1 Auto Dipping

.gallery
  .gallery-cell
    = link_to image_tag( 'images/P1300603.JPG'), 'HydroMonkeyz Garage'
  .gallery-cell
    = link_to image_tag( 'images/P1300604.JPG'), 'HydroMonkeyz Garage'
  .gallery-cell
    = link_to image_tag( 'images/P1300605.JPG'), 'HydroMonkeyz Garage'
  .gallery-cell
    = link_to image_tag( 'images/P1300609.JPG'), 'HydroMonkeyz Garage'
  .gallery-cell
    = link_to image_tag( 'images/P1300608.JPG'), 'HydroMonkeyz Garage'
.gutter

%a
  = link_to ('See more at Facebook'), 'https://www.facebook.com/HydroMonkeyzGarage', class: 'btn btn-primary'

.gutter
