---
title: Home
pageable: true
blog: work
---

<%= partial "partials/home/header" %>

<%= partial "partials/home/about" %>

<%= partial "partials/home/work" %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>
</div>

<%= partial "partials/home/styles" %>

<%= partial "partials/home/who" %>
